{% extends "base.html"%}

{% block head %}
 <title> Create User </title>
{% endblock %} 

{% block body %}
     <div>
        <div>
            <h1>Welcome, Please create a user.</h1>
        </div>
        <div >
            <form action="/create_user" method="POST">
                <input type="text" name="name" id="name">
                <input type="password" name="pass" id="pass">
                <button type="submit">Create!</button>
            </form>
        </div>
    </div>
{% endblock %}